@import url("https://use.typekit.net/jmk3xov.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");


:root {
  --dark-bg: rgba(25, 25, 25, 0.95);
  --spacing: 350px;
  --primary-font: 'Inter', sans-serif;

  /* font-family: brandon-grotesque, sans-serif; */
  font-weight: 400;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
  color: #f0f0f0;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* h1, h2, h3 {
  font-family: elevon, sans-serif;
  font-weight: 500;
  font-style: normal;
} */
h1, h2, h3 {
  font-family: var(--primary-font);
}

h1 {
  font-size: 3rem; /* Larger main heading */
  font-weight: bold; /* Bold for emphasis */
}

h2 {
  font-size: 1.8rem; /* Subheadings */
  font-weight: 550;
}

h3 {
  font-size: 1.5rem; /* Smaller subheadings */
  font-weight: 400;
}

p {
  font-size: 1.125rem; /* Larger body text for readability */
  line-height: 1.8; /* Better spacing between lines */
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  border-radius: 10px;
  background-color: #2c0a4a;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
  border-radius: 40px;
}

blockquote p {
  color: #f0f0f0;
  background-color: rgb(116, 167, 212);
  font-size: 2rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}


